name: COMPILATION

on: [push]

jobs:
  release:
    name: Release - ${{ matrix.platform.release_for }}
    strategy:
      matrix:
        platform:
          - release_for: LINUX-x86_64
            os: ubuntu-20.04
            target: x86_64-unknown-linux-musl
            bin: precious
            name: linux-x86_64.tar.gz
            command: build

          - release_for: Windows-x86_64
            os: windows-latest
            target: x86_64-pc-windows-msvc
            bin: precious.exe
            name: precious-Windows-x86_64.zip
            command: both

          - release_for: macOS-x86_64
            os: macOS-latest
            target: x86_64-apple-darwin
            bin: precious
            name: precious-Darwin-x86_64.tar.gz
            command: both

            # more release targets here ...

    runs-on: ${{ matrix.platform.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v0
        with:
          command: ${{ matrix.platform.command }}
          target: ${{ matrix.platform.target }}
          args: "--locked --release"
          strip: true
      - name: Upload for windows
        uses: actions/upload-artifact@v3
        with:
            name: ${{ matrix.platform.name }}
            path: ./target/${{ matrix.platform.target }}/evm-address-generator.exe
        if: contains(matrix.platform.os, 'windows')

      - name: Upload for unix
        uses: actions/upload-artifact@v3
        with:
            name: ${{ matrix.platform.name }}
            path: ./target/${{ matrix.platform.target }}/evm-address-generator